@font-face {
    font-family: 'GilroyBold';
    src: url('/fonts/GilroyBold/Gilroy-SemiboldItalic.eot');
    src: url('/fonts/GilroyBold/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GilroyBold/Gilroy-Bold.woff') format('woff'),
    url('/fonts/GilroyBold/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'GilroyNormal';
    src: url('/fonts/GilroyMedium/Gilroy-Medium.eot');
    src: url('/fonts/GilroyMedium/Gilroy-Medium.eot?№iefix') format('embedded-opentype'),
    url('/fonts/GilroyMedium/Gilroy-Medium.woff') format('woff'),
    url('/fonts/GilroyMedium/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}